.btn-arrow-right {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    margin: 25px;
 }
 
 .btn-arrow-right:before,
 .btn-arrow-right:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 26px;    
    height: 26px;    
    background: inherit;    
    border: inherit;
    border-left-color: transparent;    
    border-bottom-color: transparent;
    border-radius: 0px 4px 0px 0px;
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
 }
 
 .btn-arrow-right:before,
 .btn-arrow-right:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
 }
 
 .btn-arrow-left:before,
 .btn-arrow-left:after {
    transform: rotate(225deg);    
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
 }
 
 .btn-arrow-right:before {
    left: -11px;
 }
 
 .btn-arrow-right:after{
    right: -13px;
 }
 
 .btn-arrow-right:after {
    z-index: 1;
 }
 
 .btn-arrow-right:before,
 .btn-arrow-left:after {
    background-color: transparent;
 }