button {
    font-family: "Pacifico";
     background-image: linear-gradient(to left top, #f76994, #ebb2b1, #f2c2b0, #f4d4b5, #f1e6c1);
     box-shadow: 0 4px 8px rgba(114, 124, 136, 0.7),
     2px 8px 10px rgb(221, 165, 182, 0.7),
     6px 10px 14px rgb(241, 230, 193, 0.7);
     border-radius: 25px;
     width: auto; 
     font-size: 20px;
     border: none;
     color: white; 
}
.input {
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border: 1px solid rgb(211, 211, 211, 0.5);
    margin: 10px;
  }

  .input:focus{
    outline: none;
    border-color: #cccccc;
    border-radius: 25px;
    box-shadow: none;
  }

  .input::placeholder {
    color: lightgray;
  }

  .btn-default {
    background-image: linear-gradient(to left top, #dda5b6, #ebb2b1, #f2c2b0, #f4d4b5, #f1e6c1);
    box-shadow: 0 4px 8px rgb(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border-radius: 25px;
    color: white;
    font-size: 15px;
    border: none;
    margin-bottom: 15px;
    width: 100px;
  }

  .btn-submit {
    background-image: linear-gradient(to left top, #dda5b6, #ebb2b1, #f2c2b0, #f4d4b5, #f1e6c1);
    box-shadow: 0 4px 8px rgb(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border-radius: 25px;
    color: white;
    font-size: 15px;
    border: none;
    padding: 8px;
    width: 100%;
    margin: 10px;
  }
