.home-header {
  height: 150;
  padding-top: 50px;
  padding-bottom: 10px; 
  text-align: "center";
  font-size: 50px;
  clear: "both";
  color: #9f7e69;
  margin: auto;
  
}

.button-group {
  margin: auto;
}

.button1 {
  background-color: #9f7e69;
  height: 100px;
  width: 100px; 
  border-radius: 50%;
  color: white;
}

.button2 {
  background-color: #9f7e69;
  height: 100px;
  width: 100px; 
  border-radius: 50%;
  color: white;
}

.button3 {
  background-color: #9f7e69;
  height: 100px;
  width: 100px; 
  border-radius: 50%;
  color: white;
}

.logo {
  height: 300px;
  width: 300px; 
  margin: auto;
  padding-bottom: 20px; 
}

body {
  background-color: whitesmoke;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
}
