.Home-header {
  height: 150;
  padding-top: 120;
  text-align: "center";
  font-size: 50px;
  clear: "both";
}

.Home-button {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}

.button1 {
  background-color: white;
  border-color: black;
  padding: 10px;
  
}

.button2 {
  background-color: white;
  border-color: black;
  padding: 10px;
}

.button3 {
  background-color: white;
  border-color: black;
  padding: 10px;
}

.button4 {
  background-color: white;
  border-color: black;
  padding: 10px;
}

.button-group {
  align-content: center;
}

.Logo {
height: 50%; 
width: 50%;
}