div.home-header {
  font-family: 'Pacifico',
    cursive;
  background-color: pink;
  margin-bottom: 10pt;

}

img.background {
  /* background-size: cover;  */
  background: transparent;
}

.home-wrapper{
  color: white; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 27px
}

button {
  margin: 10px;
  padding: 5px 10px 5px 10px; 

}

ControlledCarousel {
  height: 663px; 
  width: auto; 
}
/* img.logo {
  max-width: 100%;
} */

/* img.background {
  background-image: 
} */
input {
  border-radius: 30px;
  width: 50%;
  padding: 1%; 
  margin: 1%;
  
}

.login {
  text-align: center; 
}
/* Sign in redirect */
.sign-up {
  font-size: 12px;
  color: lightgray;
  margin-left: 6%;
}

.sign-up-link {
  display: inline;
  border: none;
  font-size: 15px;
  color: #3f6a8a;
  font-weight: bold;
}

.sign-up-link:hover {
  color: #dda5b6;
  text-decoration: none;
}
