div.header h1 {
    font-family: "Pacifico", cursive;
    background-color: transparent;
    padding-top: 2%;
    margin-bottom: 0;
    margin-left: 5%;
    color: white;
}

div.header {
    flex-direction: row;

}

.btn-default {
    position: relative;
    background-image: linear-gradient(to left top, #f76994, #ebb2b1, #f2c2b0, #f4d4b5, #f1e6c1);
    box-shadow: 0 4px 8px rgba(114, 124, 136, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border-radius: 25px;
    color: white;
    font-size: 30px;
    border: none;
    float: right;
    outline: none;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn-default:visited {
    text-decoration: none;
}


.btn-default:after {
    content: "";
    background: #ebb2b1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn-default:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}