div.header {
    font-family: "Pacifico", cursive;
    background-color: transparent;
    padding-top: 5%;
    margin-bottom: 0;
    margin-left: 5%;
    color: white;
font-size: 50pt; 
}

.btn-default {
    background-image: linear-gradient(to left top, #f76994, #ebb2b1, #f2c2b0, #f4d4b5, #f1e6c1);
    box-shadow: 0 4px 8px rgba(114, 124, 136, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border-radius: 25px;
    font-size: 30px;
    border: none;
    margin-bottom: 15px;
    width: 15%;
    float: right;
    margin-right: 5%;
    margin-top: 1%; 
}