nav.navbar.navbar-default {
  margin-top: 0;

}

nav {
  min-height: 100px;
  background: #E5E5E5;
  position: absolute;
}

nav.navbar {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: pink;
}

li.nav-link {
  flex-direction: row; 
  align-content: center; 
}