nav.navbar.navbar-default {
  margin-bottom: 0;
  padding: 10px; 
}

nav.navbar {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10pt;
  background: white;
  text-align: center; 


}






